<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="movieForm">
    <ion-item>
      <ion-label position="floating">Movie Name</ion-label>
      <ion-input type="text" formControlName="class_name"></ion-input>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        Genres <ion-button shape="round" (click)="addBlankGenre()"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-label>
    </ion-item-divider>
    <div formArrayName="genres">
      <ion-item *ngFor="let student of movieForm.get('genres'); let i=index" [formGroupName]="i">
        <ion-label position="floating">Genre</ion-label>
        <ion-row>
          <ion-col size="10">
            <ion-input type="text" formControlName="student_name" item-start></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button shape="round" color="dark" (click)="deleteGenre(movieForm.get('genres'),i)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <ion-button shape="round" color="primary" expand="block" [disabled]="!movieForm.valid" (click)="updateMovie()">Submit</ion-button>
  </form>
</ion-content>