<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>
      My Movie List
    </ion-title> -->
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          New Movie For The List
        </ion-title>
        <ion-buttons slot="end">
          <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Movie Title</ion-label>
    <ion-input [(ngModel)]="newItem.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Release Year</ion-label>
    <ion-input [(ngModel)]="newItem.value"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addItem()">Add Movies!</ion-button>

  <ion-list #mylist>

    <ion-list-header>
      <ion-label>My Movies List</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of items">

      <ion-item>
        <ion-label text-wrap>
          <h3>{{ item.title }}</h3>
          <ion-text color="secondary">
            <p>{{ item.value }}</p>
          </ion-text>
          <p>{{ item.modified | date:'short'}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updateItem(item)">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movie List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cr of movies" routerLink="/detail/{{cr.id}}">
      <ion-icon name="desktop" slot="start"></ion-icon>
      {{cr.class_name}}
      <div class="item-note" slot="end">
        {{cr.createdAt | date}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>